.container {
  display: flex;
  flex-direction: row;   
  /* try:
     row
     row-reverse
     column
     column-reverse
  */
}

.box {
  width: 60px;
  height: 60px;
  background: teal;
  color: white;
  margin: 5px;
  text-align: center;
  line-height: 60px;
}
