.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  background: #fafafa;
}

.box {
  background: teal;
  color:white;
  padding: 15px;
  border-radius: 5px;
}
