.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #eef;
  padding: 20px;
}

.box {
  width: 60px;
  height: 60px;
  background: salmon;
  color: white;
  line-height: 60px;
  text-align: center;
}
