.box1, .box2 {
  display: inline-block;
  width: 150px;
  padding: 20px;
  color: white;
  float: left;
  margin-right: 10px;
}

.box1 { background: teal; }
.box2 { background: purple; }

.text {
  clear: both;
  margin-top: 20px;
}
