*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
body{
    background-color: rgb(134, 161, 161);
    padding-left: 20px ;
}
#block
{
    border: 2px solid black;
    border-radius: 5%;
    background-color: white;
    width: 30%;
    height: auto;
    justify-self: center;
    justify-items: center;
}
#price{
    color: red;
}

h1{
    text-align: center;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    color: white;
    background-color: green;
    align-self: center;
    color: aliceblue;
    margin-bottom: 20px;
    border-radius: 10%;
}
img{height: 200px;
    width: 300px;
    object-fit: cover;
    display: flex;
    justify-self: center;
    background-size: cover;
}

button:hover{
    border: 5px solid  black;
    border-radius: 10%;
}
p{
    font-size: larger;
}
#description{
    text-align: center;
    padding: 20px;
    color: grey;
}